<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cupcake</title>

    <link rel="stylesheet" href="/public/css/homepage.css" th:href="@{/css/homepage.css}"/>
    <link rel="stylesheet" href="/public/css/basketPopup.css" th:href="@{/css/basketPopup.css}"/>
    <link rel="stylesheet" href="/public/css/orderPopup.css" th:href="@{/css/orderPopup.css}"/>
    <link rel="stylesheet" href="/public/css/balancePopup.css" th:href="@{/css/balancePopup.css}"/>
    <link rel="stylesheet" href="/public/css/payment.css" th:href="@{/css/payment.css}"/>

    <script defer th:src="@{/js/basketPopup.js}"></script>
    <script defer th:src="@{/js/orderPopup.js}"></script>
    <script defer th:src="@{/js/balancePopup.js}"></script>
    <script defer th:src="@{/js/payment.js}"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">

</head>
<body>
<header class="header">
    <img src="../public/images/cupcake-banner.png" alt="Banner" class="header-img">

    <nav class="navbar">
        <button id="orderBtn" class="navButton">Orders</button>

        <div class="balance-group">
            <button id="balanceBtn" class="navButton">Balance</button>

            <input type="balance" class="balance-box" name="balance"
                   th:value="${session.currentUser.balance}" readonly >

        </div>

        <span th:text="${session.currentUser.email}">email@example.com</span>

        <button id="basketBtn" class="navButton">Basket</button>
    </nav>

</header>

<main class="main">
    <form id="orderForm" class="order-form">
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" name="amount" min="1" max="50" value="1" required>
        </div>

        <div class="form-group">
            <label for="bottom">Bottom</label>
            <select name="bottom_id" id="bottom">
                <option th:each="bottom : ${bottomList}"
                        th:value="${bottom.bottomId}"
                        th:data-price="${bottom.price}"
                        th:text="${bottom.name} + ' - ' + ${bottom.price} + 'dkk'">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="topping">Topping</label>
            <select name="topping_id" id="topping">
                <option th:each="topping : ${toppingList}"
                        th:value="${topping.toppingId}"
                        th:data-price="${topping.price}"
                        th:text="${topping.name} + ' - ' + ${topping.price} + 'dkk'">
                </option>
            </select>
        </div>

        <button type="submit" class="add-btn">Add To Basket</button>
    </form>
</main>

<div id="basketModal" class="basket-modal" aria-hidden="true" role="dialog" aria-modal="true">
    <div class="basket-modal__backdrop" data-close></div>
    <div class="basket-modal__dialog" role="document">
        <header class="basket-modal__header">
            <h2>Your Basket</h2>
            <button class="basket-modal__close" aria-label="Luk" data-close>&times;</button>
        </header>
        <div class="basket-modal__content">
            <p>Basket is empty.</p>
        </div>
        <footer class="basket-modal__footer">
            <a href="/payment" class="basket-modal__btn basket-modal__btn--primary">Go to checkout</a>
        </footer>
    </div>
</div>
<div id="orderModal" class="basket-modal" aria-hidden="true" role="dialog" aria-modal="true">
    <div class="order-modal__backdrop" data-close></div>
    <div class="order-modal__dialog" role="document">
        <header class="order-modal__header">
            <h2>Your orders</h2>
            <button class="order-modal__close" aria-label="Luk" data-close>&times;</button>
        </header>
        <div class="order-modal__content">
            <p>No orders.</p>
        </div>
        <footer class="order-modal__footer">
        </footer>
    </div>
</div>
<div id="balanceModal" class="balance-modal" aria-hidden="true" role="dialog" aria-modal="true">
    <div class="balance-modal__backdrop" data-close></div>
    <div class="balance-modal__dialog" role="document">
        <header class="balance-modal__header">
            <h2>Your balance.</h2>
            <button class="balance-modal__close" aria-label="Luk" data-close>&times;</button>
        </header>
        <div class="balance-modal__content">
            <p>Balance is empty.</p>
        </div>
    </div>
</div>
</body>
</html>
