<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cupcakes</title>
    <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>

<header class="site-header"></header>

<main class="site-body">

    <div class="login-panel">


        <div class="panel-content">
            <form id="loginForm" class="login-form" action="/login" method="post">
                <input type="text" id="email" name="email" placeholder="Email" required>
                <input type="password" id="password" name="password" placeholder="Password" required>

                <div class="button-row">
                    <button type="submit" form="loginForm">Login</button>
            </form>

                <button type="button" onclick="window.location.href='register.html'">Register</button>
            </div>
        </div>
    </div>
</main>
</body>
</html>