<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register - Olsker Cupcakes</title>
</head>
<body>

<header>
    <img src="/images/cupcake-banner.png"  alt="cupcake banner">
    </header>

<h1> Register </h1>

<form action="/register" method="post">

    <label for="email">Enter your email:</label>
    <input type="email" id="email" name="email" required>
    <br> <br>

    <label for="username">Enter your username:</label>
    <input type="text" id="username" name="username" required>
    <br> <br>

    <label for="password">Enter your password:</label>
    <input type="password" id="password" name="password" required>
    <br> <br>

    <input type="submit" value="Register">
    <br> <br>

    <button type="button" onclick="window.location.href='/login.html'">Back</button>


</form>



</body>
</html>