<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cupcakes</title>
    <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/register.css" th:href="@{/css/login.css}"/>
</head>
<body>

<header class="site-header"></header>

<main class="site-body">

    <div class="login-panel">


        <div class="panel-content">
            <form id="registerForm" class="login-form" action="/register" th:action="@{/register}" method="post">
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </form>

            <div class="button-row">
                <button type="submit" form="registerForm">Register</button>
                <p class="error" th:if="${registerError}" th:text="${registerError}"></p>
                <button type="button" onclick="window.location.href='/login'" th:onclick="|window.location.href='@{/login}'|">Back</button>
            </div>
        </div>
    </div>
</main>
</body>
</html>